.App {
}

.Dog {
  animation: App-logo-spin infinite 5s linear;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: translate(0, 0); }
  to { transform: translate(0, 300px); }
}
