.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: scale(0); }
  to { transform: scale(3); }
}
